body {
    font-family: 'Roboto Slab', serif;
}

.main-wrapper {
    height: 100vh;
}

.section {
    height: 100%;
}

.buttons {
    border-right: 1px solid gray;
    height: 100%;
}

.buttons .row {
    height: 33%;
}

.buttons .btn {
    /* padding: 0; */
    border: 0;
    border-radius: 60rem;
    background: darkorange;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;

    height: 150px;
    width: 150px;
}