body {
    font-family: 'Roboto Slab', serif;
}

#wrapper {
    height: 100vh;
}

#content {
    display: grid;
    grid-template: 1fr / 10% 1fr;
    height: 100%;
}

#left {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid lightgray;
}

#right {
    grid-area: 1 / 2 / 2 / 3;
}

#left #btncont {
    display: grid;
    /* grid-template: 1fr / repeat(auto-fit, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    justify-items: center;
    align-items: center;
}

#left .btn {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    text-align: center;
    vertical-align: bottom;
    background-color: orange;
}

.main-wrapper {
    height: 100vh;
}

.section {
    height: 100%;
}

.buttons {
    border-right: 1px solid gray;
    height: 100%;
}

.buttons .row {
    height: 33%;
}

.buttons .btn {
    /* padding: 0; */
    border: 0;
    border-radius: 60rem;
    background: darkorange;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;

    height: 150px;
    width: 150px;
}