.modal__inspect-body {
  overflow-y: scroll;
  height: 500px;
}

.modal__inspect {
  max-width: 75%;
}

.chart__title {
  text-align: center;
}

.chart__svg svg {
  height: 90%;
  width: 90%;
  border: 1px solid lightgrey;
  margin: auto;
  display: block;
}

.chart__cont {
  padding: 10px;
  margin: 5px;
  border: 1px solid lightgrey;
}

.chart__args-title {
  margin-top: 10px;
}

.chart__args-submit {
  display: block;
  margin: auto;
}