.node_popover {
    &_nav {
        &_img { margin-right: 10px; }
        &_link { display: inline !important; }
    }
}

svg[name="svg-container-graph"] {
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
}