
.popover {
  max-width: initial;
}

.node-popover {
  &-wrapper {
    display: flex;
    align-items: center;
    & > div {
      max-width: 200px;
      padding-right: 0.5rem;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &-info-attr {
    font-weight: bold;
  }
  pointer-events: auto;
  &-text {
    padding-left: 0.5rem;
  }
  &-button {
    text-align: center;
    border-color: #ddd;
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: black;
    font-size: 14px;
    &:hover, &:active {
      background-color: #ccc;
      border-color: #ccc;
      color: #fff;
    }
  }
  &-buttongroup {
    width: 100%;
  }
}

.back-button {
  position: fixed;
  top: 80px;
  left: 2%;
  background-color: transparent;
  border: none;
}

.apply-functions {
  background-color: transparent;
   position: fixed;
   bottom: 2%;
   right: 2%;
    transition: 0.3s;
    text-align: center;
    color: black;
    border-radius: 10px;
    border: none;
    padding-top: 8px;
}

.apply-functions:hover {
  background-color: #DD6E42;
}

.mode-label {
  position: relative;
  top: 80px;
  text-align: center;
  //right: 2%;
  //text-decoration: underline;
}

svg[name='svg-container-graph'] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  z-index: -1;
  padding-top: 60px;
  padding-bottom: 100px;
}

.click-through {
  pointer-events: none;
}

.centred-flex {
  justify-content: center;
  align-items: center;
}

.footer-no-border {
  padding: 0.75rem;
  border-top: none;
}

.confirmation-title {
  padding: 1rem 1rem 0.5rem 1rem;
}

.confirmation-message {
  margin: 0;
}

.graph-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-popup {
  position: absolute;
  bottom: calc(100px + 2%);
  left: 50%;
  transform: translateX(-50%);
}
