.node-popover {
  pointer-events: auto;
  &-nav {
    &-link {
      display: inline !important;
    }
  }
}

svg[name="svg-container-graph"] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

.click-through {
  pointer-events: none;
}