.inspBtn_wrap{
    width: 100px;
    height: 100px;
    position: absolute;    
    bottom: 20px;
    right: 20px;
}

.inspBtn{
    font-size: 100%;
    background-color: maroon;
    flex-grow: 1;
    color: whitesmoke;
    // border-radius: 7em;
    line-height: 5em;
    text-align: center;
    font-weight: bolder;
    border: solid 3px grey;

    &:hover {
        background-color: #e8dab2;
    }
}

.popover{
    text-align: left;
    font-weight: bold;
    border: solid 1px grey;
    background: #e8dab2;

    &:hover {
        background-color: maroon;
    }
}