.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 101;
  display: flex;
  height: 100px;
}

.topbarbutton {
  font-size: 100%;
  margin: 100;
  background-color: #911800;
  flex-grow: 1;
  color: #eaeaea;

  &:hover {
    background-color: #e8dab2;
  }
}

.menu {
  position: absolute;
  display: grid;
  width: 25%;
  top: 60px;
  height: 180px;
}

.menubutton {
  background-color: #5d0000;
  color: white;

  &:hover {
    background-color: darkslategray;
  }
}

.main-navbar {
  display: flex;
}
