body {
    font-family: 'Roboto', sans-serif;
}
h1 { font-family: 'Staatliches', cursive; text-transform: uppercase; }
h2 { font-family: 'Staatliches', cursive; text-transform: uppercase; }
h3 { font-family: 'Staatliches', cursive; text-transform: uppercase; }
h4 { font-family: 'Staatliches', cursive; text-transform: uppercase; }
h5 { font-family: 'Staatliches', cursive; text-transform: uppercase; }

.popup_cont {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    background-color: grey;
    width: 40%;
    /* height: 100%; */
    height: 150px;
    padding: 1em;

    display: flex;
    flex-direction: column;
}
.popup_close {
    float: right;
    margin: 0 0 1em;
}
.popup_title {
    float: left;
    margin : 0 0 1em;
}
.popup_desc {
    float: left;
    margin: 0;
}
.popup_form {
    margin: auto;
    margin-bottom: 0;
}