<!doctype html>

<html lang="en">
    <head>
        <!-- req. meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

        <title>FAT</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="content">
                <div id="left">
                    <div id="cursor"></div>
                    <div id="btncont">
                        <div class="btn">DATA</div>
                        <div class="btn">MODEL</div>
                        <div class="btn">PREDICTION</div>
                    </div>
                </div>
                <div id="right">                 
                    <div id="displaycont">
                        <div id="canvas">
                            <div id="data" class="layer">
                                <div id="graph-data-container" style="width: 100%; height: 100%;">
                                </div>
                            </div>
                            <div id="model" class="layer">
                                models are cool
                            </div>
                            <div id="predictions" class="layer">
                                predictions are cool
                            </div>
                        </div>
                    </div>
                    <div id="analysisbtn">
                        <div class="triangle-right"></div>
                    </div>  
                </div>
            </div>
            <div id="content2" class="pages">
                <div id="left2">
                    <div id="cursor2"></div>
                    <div id="btncont2">
                        <div class="btn2">Fairness</div>
                        <div class="btn2">Accountability</div>
                        <div class="btn2">Transparency</div>
                    </div>
                    
                </div>
                <div id="right2">
                    <div id="displaycont2">
                        <div id="fairness" class="layer2">
                            FAIRNESS
                        </div>
                        <div id="account" class="layer2">
                            ACCOUNTABOOLITY
                        </div>
                        <div id="trans" class="layer2">
                            TRANSPOOORAMCY
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dagre.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cytoscape-dagre.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cytoscape-popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tool.js') }}"></script>
    
</html>