<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- req. meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom.css') }}"
    />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />

    <title>FAT</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <div id="header">
          <div class="headerbtn" id="currentset">
            FAT
            <div class="dropdowncontent">
              <div class="dropdownbtn" id="save">Save</div>
              <div class="dropdownbtn" id="switchdataset">Switch Workspace</div>
              <div class="dropdownbtn" id="switchdataset">Rename Workspace</div>
            </div>
          </div>
          <div class="headerbtn" id="newset">New Dataset</div>
          <div class="headerbtn" id="howto">How to Use</div>
          <div class="headerbtn" id="about">About</div>
        </div>
        <div id="left">
          <div id="btncont">
            <div id="inspectorworkflow">
              <div class="inspectorworkflow__section">
                <div class="switch" id="workflow">Workflow</div>
              </div>
              <div class="inspectorworkflow__section">
                <div class="switch" id="inspector">Inspector</div>
              </div>
            </div>
            <div class="btn">DATA</div>
            <div class="btn">MODEL</div>
            <div class="btn">PREDICTION</div>
          </div>
        </div>
        <div id="right">
          <div id="displaycont">
            <div id="canvas">
              <div id="data" class="layer">
                <div
                  id="graph-data-container"
                  style="width: 100%; height: 100%;"
                ></div>
              </div>
              <div id="model" class="layer">models are cool</div>
              <div id="predictions" class="layer">predictions are cool</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dagre.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cytoscape-dagre.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cytoscape-popper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tool.js') }}"></script>
</html>
